html {
  width: 100vw;
  height: 95vh;
  font-family: sans-serif;
}
body {
  background-color: #eee;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
  padding: 0;
  margin: 0;
  /* position: relative; */
}

.row {
  display: flex;
  flex-direction: row;
}
.col {
  display: flex;
  flex-direction: column;
}
.in {
  transform: scale(1);
}
.out {
  transform: scale(0);
}
.range-slider .range-value {
  color: white;
  font-size: 2.5rem;
  transform: translateY(-15rem);
  height: 3rem;
}
.range-slider {
  width: 10rem;
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 23rem;
  /* background-color: red; */
  padding-top: 15rem;
}

.range-slider .input-range {
  writing-mode: bt-lr; /* IE */
  /* -webkit-appearance: slider-vertical; */
  height: 10rem;
  width: 30rem;
  -webkit-appearance: none;
  transform: rotate(-90deg);

  /* width: 100%; */
  background: transparent;
  border-left: solid 0.4rem white;
  border-right: solid 0.4rem white;
}

input {
  padding: 2rem;
  width: 100%;
  text-align: center;
  font-size: 6rem;
  color: aquamarine;
  background: none;
  border: none;
  outline: none;
}

video {
  overflow: hidden;
  width: 100vw;
  height: 100%;
  background-color: white;
  background-size: cover;
  object-fit: cover;
}
/* video > * {
  height: 100%;
} */

.learning-btns {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.4);
  height: 100%;
  width: 100vw;
  align-items: center;
  justify-content: space-evenly;
  transform: translateY(-100%);
  transition: transform 0.2s ease;
}
.learning-btns.slide-down {
  transform: translateY(0%);
}

.show-learning-btns {
  width: 4rem;
  height: 4rem;
  border: solid 10px white;
  position: absolute;
  bottom: 12rem;
  border-radius: 2rem;
  z-index: 2;
  transition: transform 0.3s ease;
  cursor: pointer;
}
.hide-learning-btns {
  width: 4rem;
  height: 0rem;
  border: solid 4px white;
  position: absolute;
  bottom: 12rem;
  border-radius: 2rem;
  z-index: 2;
  transition: transform 0.3s ease;
  cursor: pointer;
}

button {
  outline: none;
  cursor: pointer;
  opacity: 1;
  height: 8rem;
  width: 8rem;
  border-radius: 50%;
  /* border: solid 10px white; */
  border: none;
  color: white;
  background: none;
  /* background-color: white; */
  transition: transform 0.5s ease;
  font-size: 2rem;
  transform: scale(1);
  font-size: 8rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
/* button:hover {
  opacity: 0.8;
} */

button:nth-of-type(odd) {
  transform: translateY(3rem);
}
button:nth-of-type(even) {
  transform: translateY(-3rem);
}
button.btn-down-effect {
  transform: scale(0.5);
  background-color: red;
}

#console {
  position: absolute;
  color: aquamarine;
  height: 95vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  opacity: 1;
  transition: opacity 0.3s ease;
  font-size: 5rem;
}

#console.fade-out {
  opacity: 0;
}

.range-slider .input-range::-webkit-slider-thumb {
  -webkit-appearance: none;
}

/* .range-slider .input-range:focus {
  outline: none;
} */

.range-slider .input-range::-ms-track {
  width: 100%;
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  color: transparent;
}

/* Special styling for WebKit/Blink */
.range-slider .input-range::-webkit-slider-thumb {
  -webkit-appearance: none;
  border: 5px solid white;
  height: 3rem;
  width: 3rem;
  border-radius: 50%;
  background: none;
  cursor: pointer;
  margin-top: -14px; /* You need to specify a margin in Chrome, but in Firefox and IE it is automatic */
}
