body {
  background-color: white;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
  padding: 0;
  margin: 0;
  /* position: relative; */
}

.row {
  display: flex;
  flex-direction: row;
}
.in {
  transform: scale(1);
}
.out {
  transform: scale(0);
}

video {
  overflow: hidden;
  /* width: 100vw; */
  height: 100vh;
  background-color: white;
  background-size: cover;
}

.learning-btns {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.4);
  height: 100vh;
  width: 100vw;
  align-items: center;
  justify-content: space-evenly;
  transform: translateY(-100%);
  transition: transform 0.2s ease;
}
.learning-btns.slide-down {
  transform: translateY(0%);
}

.show-learning-btns {
  width: 1rem;
  height: 1rem;
  border: solid 3px white;
  position: absolute;
  bottom: 3rem;
  border-radius: 0.5rem;
  z-index: 2;
  transition: transform 0.3s ease;
  cursor: pointer;
}
.hide-learning-btns {
  width: 1rem;
  height: 0.2rem;
  border: solid 3px white;
  position: absolute;
  bottom: 3rem;
  border-radius: 0.5rem;
  z-index: 2;
  transition: transform 0.3s ease;
  cursor: pointer;
}

button {
  cursor: pointer;
  opacity: 0.3;
  height: 4rem;
  width: 4rem;
  border-radius: 50%;
  border: solid 2px white;
  color: white;
  background: none;
  /* background-color: white; */
  transition: opacity 0.4s ease;
}
button:hover {
  opacity: 0.8;
}

#console {
  position: absolute;
  color: aquamarine;
  font-family: sans-serif;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  opacity: 1;
  transition: opacity 0.3s ease;
}

#console.fade-out {
  opacity: 0;
}
