html {
  width: 100vw;
  height: 100vh;
}
body {
  background-color: white;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
  padding: 0;
  margin: 0;
  /* position: relative; */
}

.row {
  display: flex;
  flex-direction: row;
}
.col {
  display: flex;
  flex-direction: column;
}
.in {
  transform: scale(1);
}
.out {
  transform: scale(0);
}

input {
  padding: 2rem;
  width: 100%;
  text-align: center;
  font-size: 6rem;
  color: aquamarine;
  background: none;
  border: none;
  outline: none;
}

video {
  overflow: hidden;
  width: 100vw;
  height: 100vh;
  background-color: white;
  background-size: cover;
  object-fit: cover;
}
/* video > * {
  height: 100%;
} */

.learning-btns {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.4);
  height: 100vh;
  width: 100vw;
  align-items: center;
  justify-content: space-evenly;
  transform: translateY(-100%);
  transition: transform 0.2s ease;
}
.learning-btns.slide-down {
  transform: translateY(0%);
}

.show-learning-btns {
  width: 4rem;
  height: 4rem;
  border: solid 10px white;
  position: absolute;
  bottom: 6rem;
  border-radius: 2rem;
  z-index: 2;
  transition: transform 0.3s ease;
  cursor: pointer;
}
.hide-learning-btns {
  width: 4rem;
  height: 1rem;
  border: solid 10px white;
  position: absolute;
  bottom: 6rem;
  border-radius: 2rem;
  z-index: 2;
  transition: transform 0.3s ease;
  cursor: pointer;
}

button {
  outline: none;
  cursor: pointer;
  opacity: 1;
  height: 8rem;
  width: 8rem;
  border-radius: 50%;
  border: solid 10px white;
  color: white;
  background: none;
  /* background-color: white; */
  transition: transform 0.5s ease;
  font-size: 2rem;
  transform: scale(1);
}
/* button:hover {
  opacity: 0.8;
} */

button:nth-of-type(odd) {
  transform: translateY(3rem);
}
button:nth-of-type(even) {
  transform: translateY(-3rem);
}
button.btn-down-effect {
  transform: scale(0.5);
  background-color: red;
}

#console {
  position: absolute;
  color: aquamarine;
  font-family: sans-serif;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  opacity: 1;
  transition: opacity 0.3s ease;
  font-size: 5rem;
}

#console.fade-out {
  opacity: 0;
}
